body {
    background-color: #23364A;
    color: #66BAD0;
}

/* Section 1 */
#content {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0.5fr 1fr;
    gap: 30px;
}

.tasks {
    grid-area: 1 / 1 / 2 / 2;
    border: 1px #4E9994 solid;
}

table {
    border-collapse: collapse;
    width: 100%;
}

#task-container {
    width: 100%;
}

#task-container tr {
    transition: background-color 0.3s ease;
}

#task-container tr:hover {
    background-color: rgb(168, 203, 233);
    color: #23364A;
}

#task-headers {
    color: orange;
}

td {
    max-width: 20ch;
    overflow-wrap: break-word;
    border-left: 1px solid #4E9994;
    border-bottom: 1px solid #4E9994;
    padding: 2px;
}

.task-due:hover,
.complete:hover,
.ignore:hover {
    cursor: pointer;
    color: #23364A;
}

.task-due {
    color: yellow;
}

.complete {
    color: teal;
}

.ignore {
    color: gainsboro;
}

.remove:hover {
    cursor: pointer;
}

.remove {
    color: rgb(252, 239, 239);
}

.remove:hover {
    color: rgb(189, 123, 123);
}

/* Modal design - Section 1 Part 2 */
#open-modal {
    appearance: none;
    border: #23364A 1px solid;
    border-radius: 7px;
    background-color: #4E9994;
    color: white;
    width: 100%;
    margin: 4px 0;
}

dialog {
    padding: 2.2rem 1.8rem 1.8rem 1.6rem;
}

textarea {
    margin-top: 2rem;
}

.close-modal {
    position: absolute;
    appearance: none;
    background-color: transparent;
    color: red;
    padding: 0.2rem;
    right: 12px;
    top: 3px;
    border: 1px solid transparent;
    font-size: 1.3rem;
}

.close-modal:hover {
    cursor: pointer;
}

#submit-form {
    margin-top: 0.7rem;
    padding: 0.3rem 1.3rem;
    border-radius: 7px;
    margin-left: 30%;
    background-color: #4E9994;
    color: white;
}

#submit-form:hover {
    background-color: #3b8d88;
    cursor: pointer;
}

#submit-form:active {
    transform: translateY(1px);
    background-color: rgb(160, 159, 159);
}

/* Section 2 - Metrics Container */
.metrics-container {
    border: #3b8d88 1px solid;
    grid-area: 2 / 1 / 3 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr;
}

.part-one {
    grid-area: 1 / 1 / 2 / 2;
    padding-left: 0.3rem;
    border: #3b8d88 1px solid;
}

.part-two {
    grid-area: 1 / 2 / 2 / 3;
    padding-left: 0.3rem;
    border: #3b8d88 1px solid;
}

.part-three {
    grid-area: 1 / 3 / 2 / 4;
    padding-right: 0.3rem;
    border: #3b8d88 1px solid;
}

.metric-flex-container {
    grid-area: 2 / 1 / -1 / -1;
    display: flex;
    justify-content: space-around;
    align-items: center;
};

.metric-button {
    border-radius: 7px;
    background-color: #4E9994;
    color: white;
}

.edit-metric,
#operator-select {
    margin: 1.5rem 0.2rem;
    padding-top: 0.4rem;
    border-top: #3b8d88 1px solid;
}

/* Section 4 - Goal Tracker */
.goal-tracker {
    grid-area: 3 / 1 / 4 / 2;
}

/* Section 5 - Chart System */
.chart-container {
    grid-area: 1 / 2 / 3 / 3;
}

/* Section 6 - Update Chart System */
.month-control {
    display: flex;
}
